*
{
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6
{
  color: #FF0;
}

a
{
  color: #0FF;
}

nav, nav *, footer > div.categories, footer > div.categories *
{
  background-color:#222;
  border-color:#888;
}

pre
{
    border-color: #444;
}


table, th, td
{
    border-color: cyan;
}