body
{
    background-color: #f6f6f6;
    color: black;
    padding-right: 1em;
}

div#Content
{
    background-color: white;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #a7d7f9;
    padding-left: 0.5em;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
}

a
{
    color: #0645ad;
}

pre
{
    border-color: #ddd;
}

img
{
    max-width: 100%;
}

table, th, td
{
    border-color: silver;
}


@media (min-width: 640px)
{
    nav
    {
        width: 11em;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        border: none;
        text-align: center;
        padding-top: 1.5em;
    }

    div#Content, footer
    {
        margin-left: 11em;
    }
    
    div#Content
    {
        padding-top:1em;
        padding-bottom: 1em;
    }
    
    footer
    {
        padding-bottom: 1em;
    }
    
    footer > div.categories
    {
        border-color: #ccc;
        padding: 0.5em;
    }
}