*
{
    font-family: "sans";
}

body
{
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

pre
{
  font-family: "monospace";
}

a
{
  text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1
{
  text-decoration: underline;
}

nav
{
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid;
}

nav > a
{
  margin-left: 1em;
  margin-right: 1em;
}

div#Content
{
    margin-left: 1em;
}

div#Content > *
{
    margin-left: 1em;
}

div#Content h1, div#Content h2, div#Content h3, div#Content h4, div#Content h5, div#Content h6
{
    margin-left: 0;
}

pre, pre *
{
    font-family: "monospace";
}

pre
{
    font-size: 95%;
    border: 1px solid;
    padding: 0.5em;
}

footer
{
    margin-top: 1em;
    margin-bottom: 1em;
}

footer > div.categories
{
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    border: 1px solid;
}

footer > div.license
{
    text-align: center;
    margin-top: 1em;
    font-size: 75%;
}


/* Square braces around footnotes: */
a.footnoteRef sup::before {
    content: "[";
}
a.footnoteRef sup::after {
    content: "]";
}


footer > section.ArticleDate {
    font-size: 0.7em;
}


/* tables: */
table, th, td {
    border: 1px solid;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
