<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="description" content="<%= @config.website_title %>">
    <% if @author != '' %>
    <meta name="author" content="<% @author %>">
    <% end %>
    <% if !@categories.empty?() %>
    <meta name="keywords" content="<%= @categories.join(', ') %>">
    <% end %>
    <title><%= @title %> - <%= @config.website_title %></title>
    <link rel="stylesheet" href="./style.css"></link>
  </head>
  <body>
    <nav>
      <a href="./index.html"><%= @config.website_title %></a>
      <a href="./Wiki:Categories.html"><%= _('Categories') %></a>
      <a href="./Wiki:Glossary.html"><%= _('Glossary') %></a>
      <a href="./Imprint.html"><%= _('Imprint') %></a>
    </nav>
    <header>
      <h1><%= @title %></h1>
    </header>
    <article><%= @content %></article>
    <footer>
      <% if !@categories.empty?() %>
      <section class="Categories">
        <%= _('Categories:') %>
        <% @categories.each do |category| %>
        <a class="CategoryLink" href="./Category:<%= category %>.html">
          <%= category %>
        </a>
        <% end %>
      </section>
      <% end %>
      <% if @date != '' %>
      <section class="ArticleDate">
        <%= sprintf(
            _('Last updated on %s'),
            @date.utc.strftime('%Y-%m-%d')
        ) %>
      </section>
      <% end %>
      <% if @license_text != '' %>
      <div class="License"><%= @license_text %></div>
      <% end %>
      <div class="PoweredByText">
        <%= _('Generated with TssWiki') %>
      </div>
    </footer>
  </body>
</html>
