*
{
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6
{
  color: #00FF9F;
}

a
{
    color: #0FF;
}

nav, nav *, footer > div.categories, footer > div.categories *
{
  background-color:#222;
  border-color:#888;
}

pre
{
    border-color: #1d6242;
}


table, th, td
{
    border-color: cyan;
}

blockquote {
    border-color: #126a52;
}

blockquote, blockquote * {
    background-color: #333;
    color: #21d3a2;
}
