footer
{
    border-top-color: #aaaaaa;
}

body
{
    background-color: #f6f6f6;
    color: black;
}

div#Content
{
    background-color: white;
    border-color: #a7d7f9;
}

a
{
    color: #0645ad;
}

pre
{
    border-color: #ddd;
}

img
{
    max-width: 100%;
}

table, th, td
{
    border-color: silver;
}

footer > div.categories
{
    border-color: #ccc;
}
