*
{
    font-family: "sans";
}

body
{
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-align: left;
}

pre
{
  font-family: "monospace";
}

h1
{
  text-decoration: underline;
}

a
{
    text-decoration: none;
}

a:hover, a:focus
{
    text-decoration: underline;
}

nav
{
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid;
  padding-left: 1em;
  padding-right: 1em;
}

nav > a
{
  margin-right: 1em;
}

header, article, footer
{
    margin-left: 1em;
    margin-right: 1em;
}

article > *
{
    margin-left: 1em;
}

article h1, article h2, article h3, article h4, article h5, article h6
{
    margin-left: 0;
}


pre, pre *
{
    font-family: "monospace";
}

pre
{
    font-size: 95%;
    border: 1px solid;
    padding: 0.5em;
}

footer
{
    margin-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #888;
}

footer > .Categories
{
    padding-left: 2em;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    list-style-type: none;
}

footer > div.License, footer > div.PoweredByText, footer > section.ArticleDate
{
    margin-top: 1em;
    font-size: 75%;
}


/* Square braces around footnotes: */
a.footnoteRef sup::before {
    content: "[";
}
a.footnoteRef sup::after {
    content: "]";
}


/* tables: */
table, th, td {
    border: 1px solid;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

blockquote {
    border-left-width: 0.2em;
    border-left-style: solid;
    padding-left: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.25em;
}
