*
{
    font-family: "sans";
}

body
{
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

pre
{
  font-family: "monospace";
}

a
{
  text-decoration: none;
}

a:hover, a:focus
{
    text-decoration: underline;
}

h1
{
  text-decoration: underline;
}

nav
{
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  border-bottom: 1px solid;
}

nav > a
{
  margin-left: 1em;
  margin-right: 1em;
}

@media screen and (min-width: 801px) {
    body > header,
    body > article,
    body > footer
    {
        margin-left: 11em;
    }

    nav
    {
        width: 11em;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        border: none;
        text-align: center;
        padding-top: 1.5em;
    }

    footer
    {
        padding-bottom: 1em;
    }

    footer > div.categories
    {
        padding: 0.5em;
    }
}

footer
{
    border-top: 1px solid;
    padding-top: 0.5em;
}

footer > *
{
    font-size: 0.75em;
}

pre, pre *
{
    font-family: "monospace";
}

pre
{
    font-size: 95%;
    border: 1px solid;
    padding: 0.5em;
}

footer
{
    margin-top: 1em;
    margin-bottom: 1em;
}

footer > div.categories
{
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    border: 1px solid;
}

footer > div.license
{
    text-align: center;
    margin-top: 1em;
    font-size: 75%;
}


/* Square braces around footnotes: */
a.footnoteRef sup::before {
    content: "[";
}
a.footnoteRef sup::after {
    content: "]";
}


footer > section.ArticleDate {
    font-size: 0.7em;
}


/* tables: */
table, th, td {
    border: 1px solid;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}


body
{
    padding-right: 1em;
}

div#Content
{
    border-left: 1px solid;
    border-bottom: 1px solid;
    padding-left: 0.5em;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: normal;
}

img
{
    max-width: 100%;
}
