<section>
  <%= @description %>
</section>
<% if @categories %>
<aside class="Categories">
  <ul class="CategoryList">
    <% @categories.each do |cat| %>
    <li class="CategoryItem">
      <%= cat %>
    </li>
    <% end %>
  </ul>
</aside>
<% end %>
<section class="Index">
  <% @items.each do |letter, pages| %>
  <h3><%= letter.upcase() %></h3>
  <ul class="ItemList">
    <% pages.each do |title, page| %>
      <li class="Item">
        <a href="<%= page.output_link %>"><%= page.title %></a>
      </li>
    <% end %>
  </ul>
  <% end %>
</section>
